<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.teamplanner.mapper.ActivityMapper">
	
	<resultMap type="Activity" id="resultActivity">
		<id column="no" property="no"/>
		<result column="userno" property="userNo"/>
		<result column="username" property="userName"/>
		<result column="typeno" property="typeNo"/>
		<result column="backno" property="backNo"/>
		<result column="backtitle" property="backTitle"/>
		<result column="regdate" property="regDate" />
		<result column="boardno" property="boardNo"/>
		<result column="boardname" property="boardName"/>
		<association column="no" property="target" select="selectResultTarget"/>
	</resultMap>
	
	<resultMap type="ActivityTarget" id="resultTarget">
		<id column="activityno" property="activityNo"/>
		<result column="typeno" property="typeNo"/>
		<result column="targetno" property="targetNo"/>
		<result column="targetname" property="targetName"/>
	</resultMap>
	
	<select id="selectResultTarget" resultMap="resultTarget">
		SELECT
			activityno, typeno, targetno, targetname
		FROM
			activitytarget
		WHERE
			activityno = #{no}
	</select>
	
	<insert id="insertActivity" parameterType="Activity">
		<selectKey keyProperty="no" resultType="int" order="AFTER" >
			SELECT activity_sequence.currval FROM dual
		</selectKey>
		INSERT INTO activity(no, userno, username, typeno, backno, backtitle, boardno, boardname)
		VALUES(activity_sequence.nextVal, #{userNo}, #{userName}, #{typeNo}, #{backNo}, #{backTitle}, #{boardNo}, #{boardName})
	</insert>
	
	<insert id="insertActivityTarget" parameterType="ActivityTarget">
		INSERT INTO activitytarget(typeno, targetno, targetname, activityno)
		VALUES(#{typeNo}, #{targetNo}, #{targetName}, #{activityNo})
	</insert>
	
	<select id="selectActivityByBoard" parameterType="int" resultMap="resultActivity">
		SELECT
			no, userno, username, typeno, regdate, backno, backtitle, boardno, boardname
		FROM
			activity
		WHERE
			boardno = #{boardNo}
	</select>
	
	<select id="selectActivityByMember" parameterType="int" resultMap="resultActivity">
		SELECT
			no, userno, username, typeno, regdate, backno, backtitle, boardno, boardname
		FROM
			activity
		WHERE
			userno = #{memberNo}
	</select>
	
	<select id="selectActivityByCardComment" parameterType="int" resultMap="resultActivity">
		SELECT
		    act.no as no, act.userno as userno, act.username as username, act.typeno as typeno, act.regdate as regdate, act.backno as backno, act.backtitle as backtitle, act.boardno as boardno, act.boardname as boardname
		FROM
		    activity act, activitytarget target
		WHERE
		    act.no = target.activityno AND target.typeno = 6 AND act.backno = #{cardno}
	</select>
	
	<select id="selectCard" parameterType="int" resultType="Card">
		SELECT
			no, name, boardno, boardname, listno, listname
		FROM
			boardcard
		WHERE
			no = #{cardNo}
	</select>
</mapper>