<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.teamplanner.mapper.BoardMapper">
 
 <resultMap id="BoardResult" type="Board" >
 	<id column="no" property="no" />
 	<result column="name" property="name" />
 	<result column="regdate" property="regdate" 
 		typeHandler="com.teamplanner.handler.DataFormatHandler"/>
 	<result column="visibility" property="visibility" />
 	<result column="closed" property="closed" />
 	<result column="position" property="position" />
 	<collection column="no" property="boardlist" ofType="BoardList" select="selectBoardList" /> 
 </resultMap>
 
 <!-- 유정 -->
 	<select id="selectBoardByList" parameterType="int" resultMap="BoardResult">
 		SELECT no, name, regdate, visibility, closed, position
 		FROM board
 		WHERE boardno = #{boardNo}
 	</select>
 	
 	<select id="selectBoardList" parameterType="int" resultType="BoardList">
 		SELECT no, boardno, name, regdate, position, archived
 		FROM boardlist
 		WHERE boardno = #{no}
 	</select>
 	
 	<select id="selectCard" parameterType="int" resultType="Card">
 		SELECT no, name, listno, boardno, boardname, position, duedate, archived, deleted
 		FROM boardcard
 		WHERE listno = #{listNo}
 	</select>
 	
 	<insert id="insertCard" parameterType="Card">
 		INSERT INTO card(no, name, listno, boardno, boardname, position)
 		VALUES (boardcard_sequence, #{name}, #{listno}, #{boardno}, #{boardname}, #{position})
 	</insert>
 
 <!-- 동윤 -->
 
 	
 </mapper>
 
 
 
 
 
 