<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.teamplanner.mapper.BoardMapper">
 
 <resultMap id="BoardResult" type="Board" >
 	<id column="no" property="no" />
 	<result column="name" property="name" />
 	<result column="regdate" property="regdate" 
 		typeHandler="com.teamplanner.handler.DataFormatHandler"/>
 	<result column="visibility" property="visibility" />
 	<result column="closed" property="closed" />
 	<result column="position" property="position" />
 	<collection column="no" property="boardlist" ofType="BoardList" select="selectBoardList" /> 
 </resultMap>
 
 <resultMap id="BoardListResult" type="BoardList">
 	<id column="no" property="no" />
 	<result column="boardno" property="boardNo" />
 	<result column="name" property="name" />
 	<result column="regdate" property="regDate" />
 	<result column="position" property="position" />
 	<result column="archived" property="archived" />
 	<collection column="no" property="cards" ofType="Card" select="selectCard" />
 </resultMap>
 
 <resultMap id="CardResult" type="Card" >
 	<id column="no" property="no" />
 	<result column="name" property="name" />
 	<result column="regdate" property="regDate" 
 		typeHandler="com.teamplanner.handler.DataFormatHandler"/>
 	<result column="listno" property="listNo" />
 	<result column="boardno" property="boardNo" />
 	<result column="boardname" property="boardName" />
 	<result column="position" property="position" />
 	<result column="duedate" property="dueDate" />
 	<result column="archived" property="archived" />
 	<result column="deleted" property="deleted" />
 	<result column="info" property="info" />
 </resultMap>
 
 <!-- 유정 -->
 	<select id="selectBoardByList" parameterType="int" resultMap="BoardResult">
 		SELECT no, name, regdate, visibility, closed
 		FROM board
 		WHERE no = #{boardNo}
 	</select>
 	
 	<select id="selectBoardList" parameterType="int" resultMap="BoardListResult">
 		SELECT no, boardno, name, regdate, position, archived
 		FROM boardlist
 		WHERE boardno = #{no}
 	</select>
 	
 	<select id="selectCard" parameterType="int" resultMap="CardResult">
 		SELECT no, name, listno, boardno, boardname, position, duedate, archived, deleted, info
 		FROM boardcard
 		WHERE listno = #{listno}
 	</select>
 	
 	<select id="selectCardInfo" parameterType="hashMap" resultType="String">
 		SELECT info
 		FROM boardcard
 		WHERE boardno = #{boardno} AND listno = #{listno} AND no = #{cardno}
 	</select>
 	
 	<insert id="insertCard" parameterType="Card">
 		INSERT INTO boardcard(no, name, listno, boardno, boardname, position)
 		VALUES (boardcard_sequence.nextval, #{name}, #{listNo}, #{boardNo}, #{boardName}, #{position})
 	</insert>
 	
 	<insert id="insertBoardList" parameterType="BoardList">
 		INSERT INTO boardlist(no, boardno, name, position)
 		VALUES (boardlist_sequence.nextval, #{boardNo}, #{name}, #{position})
 	</insert>
 	
 	<select id="getBoardNameByNo" parameterType="int" resultType="String">
 		SELECT name FROM board WHERE no = #{boardno}
 	</select>
 
 <!-- 동윤 -->
 	<insert id="insertBoard" parameterType="String">
 		INSERT INTO board(no, name) VALUES (board_sequence.nextval , #{name})
 	</insert>
 	
 	<select id="getBoardNo" parameterType="String" resultType="int">
 		SELECT no FROM board WHERE name = #{name}
 	</select>
 	
 	<insert id="insertTeamList" parameterType="hashMap">
 		INSERT INTO teamlist(no, memberno, boardno, usertype) 
 		VALUES (teamlist_sequence.nextval , #{memberNo} , #{boardNo} , 0 )
 	</insert>
 	
 	<select id="selectBoardbyTeamList" parameterType="Integer" resultType="Board">
 		SELECT b.* 
 		FROM teamlist t, board b 
 		WHERE t.memberno = #{memberNo} AND t.boardno = b.no AND b.closed = '0' 
 		ORDER BY b.name
 	</select>
 	
 	<select id="checkBoardName" parameterType="String" resultType="String">
 		SELECT name FROM board WHERE name = #{title}
 	</select>
 	
 	<select id="selectClosedBoard" parameterType="Integer" resultType="Board">
 		SELECT b.* 
 		FROM teamlist t, board b 
 		WHERE t.memberno = #{memberNo} AND t.boardno = b.no AND b.closed = '1' 
 		ORDER BY b.name
 	</select>
 	<select id="selectBoardbyBoardName" parameterType="hashMap" resultType="Board">
 		SELECT b.* 
 		FROM teamlist t, board b 
 		WHERE t.memberno = #{memberNo} AND t.boardno = b.no AND b.closed = '0' AND b.name LIKE #{text}||'%' 
 		ORDER BY b.name
 	</select>
 	<insert id="addFriend" parameterType="hashMap">
 		INSERT INTO memberlist(no , memberno , myno)
 		VALUES (memberlist_sequence.nextval , #{friendNo} , #{memberNo})
 	</insert>
 	<update id="openClosedBoardPage" parameterType="Integer">
 		UPDATE board
 		SET closed = '0'
 		WHERE no=#{boardNo}
 	</update>
 	
 	<select id="selectBoardListBylistNo" parameterType="int" resultType="BoardList">
 		SELECT
 			*
 		FROM
 			boardlist
 		WHERE
 			no = #{listno}
 	</select>
 </mapper>
 
 
 
 
 
 
