<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.teamplanner.mapper.CardMapper">
 	

	 <resultMap type="CheckList" id="resultCheckList">
		<id column="no" property="no"/>
		<result column="name" property="name"/>
		<result column="cardno" property="cardNo"/>
		<result column="regdate" property="regDate"/>
		<collection column="no" property="checkItems" select="selectCheckItem"/>
	</resultMap>
	
	<select id="selectCheckItem" parameterType="int" resultType="CheckItem">
		SELECT
			no, name, checked
		FROM
			checkitem
		WHERE
			checklistno = #{no}
	</select>
	
	<select id="selectCheckItemCount" parameterType="int" resultType="int">
		SELECT
			count(no)
		FROM
			checkitem
		WHERE
			checklistno = #{checklistno}
	</select>
	
	<insert id="insertCheckList" parameterType="CheckList">
		<selectKey keyProperty="no" order="AFTER" resultType="int">
			SELECT checklist_sequence.currval from dual
		</selectKey>
		INSERT INTO checklist(no, name, cardno)
		VALUES(checklist_sequence.nextval, #{name}, #{cardNo})
	</insert>
	
	<insert id="insertCheckItem" parameterType="CheckItem">
		<selectKey keyProperty="no" order="AFTER" resultType="int">
			SELECT checkitem_sequence.currval from dual
		</selectKey>
		INSERT INTO checkitem(no, name, checklistno)
		VALUES(checkitem_sequence.nextval, #{name}, #{checklistno})
	</insert>
	
	<delete id="deleteCheckList" parameterType="int">
		DELETE FROM
			checklist
		WHERE
			no = #{checklistno}
	</delete>
	
	<delete id="deleteCheckItem" parameterType="int">
		DELETE FROM
			checkitem
		WHERE
			no = #{checkitemno}
	</delete>
	
	<delete id="deleteCheckItemByChecklist" parameterType="int">
		DELETE FROM
			checkitem
		WHERE
			checklistno = #{checklistno}
	</delete>
	
	<update id="updateCheckListName" parameterType="hashMap">
		UPDATE
			checklist
		SET
			name = #{name}
		WHERE
			no = #{checklistno}
	</update>
	
	<update id="updateCheckItem" parameterType="hashMap">
		UPDATE
			checkitem
		SET
			checked = #{checked}
		WHERE
			no = #{checkitemno}
	</update>
	
	<update id="updateCheckItemName" parameterType="hashMap">
		UPDATE
			checkitem
		SET
			name = #{name}
		WHERE
			no = #{checkitemno}
	</update>
	
 	<select id="selectComment" parameterType="int" resultType="Comment">
 		SELECT  no, regdate, cardno, content
 		FROM boardcomment
 		WHERE cardno = #{cardNo}
 	</select>
 
 	<select id="selectCheckList" parameterType="int" resultMap="resultCheckList">
 		SELECT no, name, cardno, regdate
 		FROM checklist
 		WHERE cardno = #{cardNo}
 	</select>
 	
 	<select id="selectTagMember" parameterType="int" resultType="TagMember">
 		SELECT cardno, teamno
 		FROM tagmember
 		WHERE checklistno = #{checklistNo}
 	</select>
 	
 	<insert id="insertAttachment" parameterType="Attachment">
 		<selectKey keyProperty="no" resultType="int" order="AFTER" >
			SELECT attachment_sequence.currval FROM dual
		</selectKey>
 		INSERT INTO attachment(no, userfilename, cardno, boardno) 
 		VALUES (attachment_sequence.nextval, #{userFileName}, #{cardNo}, #{boardNo})
 	</insert>
 	
 	<update id="writeCardInfo" parameterType="Card">
 		UPDATE boardcard
 		SET info = #{info}
 		WHERE no=#{no} AND listno = #{listNo} AND boardno = #{boardNo} 
 	</update>
 	
 	
 	<select id="selectAttachmentList" parameterType="hashMap" resultType="Attachment">
 		SELECT no, userfilename, cardno, boardno, regdate, archived
 		FROM attachment
 		WHERE cardno = #{cardno} AND boardno = #{boardno} AND archived = 0
 	</select>
 	
 	<select id="selectAttachment" parameterType="int" resultType="Attachment">
 		SELECT no, userfilename, cardno, boardno, regdate, archived
 		FROM attachment
 		WHERE no = #{attachmentno} 
 	</select>
 	
 	<delete id="deleteAttachment" parameterType="int">
 		DELETE FROM attachment WHERE no = #{attachmentno}
 	</delete>
 	
 	
 	
 </mapper>
