<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.teamplanner.mapper.CardMapper">
 	
 	<select id="selectComment" parameterType="int" resultType="Comment">
 		SELECT * 
 		FROM Comment
 		WHERE cardNo = #{cardNo}
 	</select>
 	<select id="selectAttachment" parameterType="int">
 		SELECT *
 		FROM Attachment
 		WHERE cardNo = #{cardNo}
 	</select>
 	<select id="selectCheckList" parameterType="int">
 		SELECT *
 		FROM CheckList
 		WHERE cardNo = #{cardNo}
 	</select>
 	<select id="selectCheckItem" parameterType="int">
 		SELECT *
 		FROM CheckItem
 		WHERE checklistNo = #{checklistNo}
 	</select>
 	<select id="selectTagMember" parameterType="int">
 		
 	</select>
 	
 </mapper>