<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<typeAliases>
	<typeAlias type="com.teamplanner.dto.Member" alias="Member"/>
	<typeAlias type="com.teamplanner.dto.Board" alias="Board"/>
	<typeAlias type="com.teamplanner.dto.Card" alias="Card"/>
	<typeAlias type="com.teamplanner.dto.Comment" alias="Comment"/>
	<typeAlias type="com.teamplanner.dto.BoardList" alias="BoardList"/>
	<typeAlias type="com.teamplanner.dto.Attachment" alias="Attachment"/>
	<typeAlias type="com.teamplanner.dto.CheckList" alias="CheckList"/>
	<typeAlias type="com.teamplanner.dto.CheckItem" alias="CheckItem"/>
	<typeAlias type="com.teamplanner.dto.TagMember" alias="TagMember"/>
</typeAliases>

<mappers>
	<mapper resource="com/teamplanner/mapper/MemberMapper.xml"/>
	<mapper resource="com/teamplanner/mapper/BoardMapper.xml"/>
	<mapper resource="com/teamplanner/mapper/CardMapper.xml"/>
</mappers>

</configuration>
