<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<typeAliases>
	<typeAlias type="com.teamplanner.dto.Member" alias="Member"/>
	<typeAlias type="com.teamplanner.dto.Board" alias="Board"/>
</typeAliases>

<mappers>
	<mapper resource="com/teamplanner/mapper/MemberMapper.xml"/>
	<mapper resource="com/teamplanner/mapper/MainMapper.xml"/>
</mappers>

</configuration>