body {
	color:#ab0c67;
	font: 14px;
	line-height: 18px;
}

.header {
	height: auto;
	overflow: hidden;
	padding: 8px 4px 8px 8px;
	position: relative;
	transition: margin 150ms;
}

.header-btn-name {
	cursor: default;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	padding-left: 4px;
	text-decoration: none;
	padding-left: 6px;
}

.header-btn-text {
	padding-right: 8px;
	padding-left: 6px;
}

.header-btns {
	position: relative;
  	display: block;
  	float: right;
}

.show-menu {
	webkit-transition-duration: .1s;
	transition-duration: .1s;
	-webkit-transition-property: margin;
	transition-property: margin;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}

.header-btn-icon {
	background-clip: content-box;
	background-origin: content-box;
	color: #f6f6f6;
	padding: 6px;
	position: absolute;
	top: 0;
	left: 0;
}

.list {
	margin-left:20px;
	background-color: #e2e4e6;
	width:200px;
	height:500px;
}

.list-name{
	margin:10px;
	background-color: #f6f6f6;
}

.list-cards{
	margin:10px;
	background-color: #f6f6f6;
}
