body {
	color:#ab0c67;
	font: 14px;
	line-height: 18px;
}

body, button, html, input, select, textarea {
    color: #4d4d4d;
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    line-height: 18px;
}

.header {
	height: auto;
	overflow: hidden;
	padding: 8px 4px 8px 8px;
	position: relative;
	transition: margin 150ms;
}

.header-btn-name {
	cursor: default;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	padding-left: 4px;
	text-decoration: none;
	padding-left: 6px;
}

.header-btn-text {
	padding-right: 8px;
	padding-left: 6px;
	color: #ffffff;
}

.header-btns {
	position: relative;
  	display: block;
  	float: right;
}

.show-menu {
	webkit-transition-duration: .1s;
	transition-duration: .1s;
	-webkit-transition-property: margin;
	transition-property: margin;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}

.header-btn-icon {
	background-clip: content-box;
	background-origin: content-box;
	color: #f6f6f6;
	padding: 6px;
	position: absolute;
	top: 0;
	left: 0;
}

.list {
	background: #e2e4e6;
	border-radius: 3px;
	margin: 7px 7px 7px 7px;
	max-height: 100%;
	position: relative;
	width:270px;
	max-width: 270px;
	float: left;
}

.list-header {
	padding: 8px 34px 8px 10px;
	position: relative;
	min-hight:19px;
}

.u-clearfix {
	clear: both;
	content: "";
	display: table
}

.list-header-name {
	display: inline;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  min-height: 19px;
  min-width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.list-cards{
	max-height: none !important;
	overflow: vixible;
}

.list-card {
	margin: 5px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 6px;
	max-width: 300px;
	min-height: 20px;
	position: relative;
	z-index: 0;
	width: 260px
}

.list-card-details {
	overflow: auto;
	padding: 6px 8px 4px;
	position: relative;
	z-index: 10
}

.list-card-title {
	clear: both;
	display: block;
	font-weight: 400;
	margin: 0 0 4px;
	overflow: hidden;
	text-decoration: none;
	word-wrap: break-word
}

.add-card {
	margin: 5px;
	border: 1px solid #d6dadc;
	background-color: #d6dadc;
	border-bottom-color: #c4c9cc;
	width: 260px;
	height: 25px;
	
}

.open-card {
	border-radius: 0 0 3px 3px;
  color: #8c8c8c;
  display: block;
  border-radius: 0 0 3px 3px;
  color: #8c8c8c;
  display: block;
  
}

.add-list {
	margin: 5px;
	border: 1px solid #d6dadc;
	background-color: #d6dadc;
	border-bottom-color: #c4c9cc;
	width: 260px;
	height: 25px;
	
}

.open-list {
	border-radius: 0 0 3px 3px;
  color: #8c8c8c;
  display: block;
  border-radius: 0 0 3px 3px;
  color: #8c8c8c;
  display: block;
  
}

.pollSlider {
	position:fixed;
	height:100%;
	background:#e7eaeb;
	width:300px;
	right:0px;
	margin-right:-300px;
	border-radius: 3px;
	z-index: 1;
}

#pollSlider-button {
	position:fixed;
	width:30px;
	height:30px;
	right:0px;
	top:50px;
	border-radius: 3px;
	background-color:black;
}

#scroller-header a {
	text-decoration:none; 
	color:#ab0c67; 
	padding:0 2px;
}

#scroller-header a:hover {
	text-decoration:none; 
	color:#6b0741
}

a.selected {
	text-decoration:underline !important; 
	color:#6b0741 !important;
}

#scroller-header {
	width:290px;
	height:24px;
	padding:22px 0 0 15px;
	font-weight:700;
}

#scroller-body {
	width:290px;
	padding-bottom:30px;
}

#mask {
	width:250px;
	overflow:hidden;
	margin:0 auto;
}

#panel {

}

#panel div {
float:left;

}

.teamIcon{
	background-color: #e7eaeb;
  border-radius: 3px;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  float: left;
  height: 30px;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
  width: 30px;
}

.memberAddButton {
  background: -webkit-linear-gradient(top,#fff 0,#f8f9f9 100%);
  background: linear-gradient(to bottom,#fff 0,#f8f9f9 100%);
  border-radius: 3px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e2e4e6;
  border-bottom-color: #cdd2d4;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: 34px;
  margin-top: 6px;
  width: 300px;
  overflow: hidden;
  padding: 7px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
	
}

.window-header {
	margin: 0 0 0 0;
	padding:12px 12px 0;
	position: relative;
	z-index: 1;
	width:100%;
	height:20%
	
}

.window-main-middle {
	/* float: left;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	min-height: 20px;
	padding: 0px 12px 12px;
	position: relative;
	width: 60%;
	z-index: 0;
	margin-top: 0 */
	    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    min-height: 20px;
    padding: 8px 12px 12px;
    position: relative;
    width: 510px;
    z-index: 0;
}

.window-main-sidebar {
	/* float: right;
	margin-top:0px;
	clear: both;
	margin: 0px;
	padding: 0;
	width: 40% */
	float: right;
    padding: 8px 12px 12px 0;
    width: 170px;
    overflow: hidden;
    z-index: 10;
}

.window {
	background-color: #edeff0;
	border-radius: 3px;
	margin: 0 0 0 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 25
}

.window-wrapper {
	/* display: none; */
	height: 0;
	width: 0;
	z-index: -1
}

.window-header {
	margin: 4px 40px 4px 4px;
	padding: 12px 12px 0;
	position: relative;
	z-index: 1;
}

.ui-dialog-titlebar {
	display:none;
}

.close-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	overflow: hidden;
	padding: 4px;
	width: 30px;
	z-index: 2;
}

#ui-id-5 {
	background-color: #edeff0;
}

.card-detail-window{
	width:730px;
	heigh:600px
}

.text-line{
	float:left;	
}

.window-sidebutton {
	text-align:center;
	float: left;
	padding: 6px 12px;
	margin: 3px;
	color: #444;
	width: 120px;
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    /* position: relative; */
    z-index: 0;
}

.close-button {
	cursor: pointer;
	color: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    font-size: large;
    overflow: hidden;
    padding: 4px;
    width: 30px;
    z-index: 2;
    -webkit-transition: background-color 350ms,color 150ms;
    transition: background-color 350ms,color 150ms;
}
