@charset "UTF-8";

	 


body, button, html, input, select, textarea {
	color: #4d4d4d;

	line-height: 18px
}

.u-clearfix:after {
	clear: both;
	content: "";
	display: table
}

.u-inline {
	display: inline
}

.window-title-extra {
	display: inline-block;
	font-size: 12px;
	color: #8c8c8c;
	padding: 0 6px 0 2px;
	position: relative;
	margin: 0 2px
}

.quiet, .quiet a {
	color: #8c8c8c
}


p {
	margin: 0 0 8px
}

h1 {
	font-size: 20px;
	line-height: 1.2em;
	margin: 0 0 10px
}

.tabbed-pane-header-details-name {
	margin-bottom: 8px
}

div::selection {
	background: 0 0
}

.error, .error a {
	color: #eb5a46
}

.hide {
	display: none
}

.tabbed-pane-header-wrapper {
	max-width: 650px;
	margin: 0 auto;
	padding: 32px;
	position: relative
}

a {
	color: #444
}

a {
	background-color: transparent
}

.profile-image.is-editable {
	cursor: pointer
}

.profile-image-initials {
	display: block;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	left: 0;
	line-height: 85px;
	overflow: hidden;
	position: absolute;
	top: 0;
	height: 85px;
	width: 85px;
	z-index: 1
}

.profile-image-change-text {
	background: rgba(0, 0, 0, .5);
	bottom: 0;
	color: #fff;
	display: none;
	font-weight: 700;
	height: 30px;
	left: 0;
	line-height: 30px;
	position: absolute;
	right: 0;
	text-align: center;
	width: 100%;
	z-index: 3
}

.profile-image {
	background-color: #d6dadc;
	border-radius: 3px;
	cursor: default;
	display: block;
	height: 85px;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 85px;
	z-index: 0
}

.tabbed-pane-header-details {
	margin: 0 0 0 100px
}

label {
	display: block;
	font-weight: 700;
	margin-bottom: 4px
}

input[type=text], input[type=password], input[type=email] {
	-webkit-transition: background 85ms ease-in, border-color 85ms ease-in;
	transition: background 85ms ease-in, border-color 85ms ease-in;
	width: 250px
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
  background: #fff;
  border-color: #298fca;
  box-shadow: 0 0 2px #298fca;
}
textarea {
	height: 150px;
	-webkit-transition: background 85ms ease-in, border-color 85ms ease-in;
	transition: background 85ms ease-in, border-color 85ms ease-in;
	resize: vertical;
	width: 60%
}

.profile-image.is-editable:hover .profile-image-change-text {
  display: block;
  text-decoration: underline;
}

button, input:not([type=file]), textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: #e2e4e6;
  border: 1px solid #cdd2d4;
  border-radius: 3px;
  display: block;
  margin-bottom: 12px;
  min-height: 34px;
  padding: 7px;
}

textarea {
	overflow: auto
}

.button.primary:hover, button.primary:focus, button.primary:hover, input[type=button].primary:focus, input[type=button].primary:hover, input[type=submit].primary:focus, input[type=submit].primary:hover {
    background: -webkit-linear-gradient(top,#5aac44 0,#519839 100%);
    background: linear-gradient(to bottom,#5aac44 0,#519839 100%);
}

.button.primary, button.primary, input[type=button].primary, input[type=submit].primary
	{
	background: -webkit-linear-gradient(top, #61bd4f 0, #5aac44 100%);
	background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
	box-shadow: 0 1px 0 #4d4d4d;
	color: #fff
}

.button.wide, button.wide, input[type=button].wide, input[type=submit].wide
	{
	padding-left: 30px;
	padding-right: 30px
}

.button, button, input[type=button], input[type=submit] {
	background: -webkit-linear-gradient(top, #c4c9cc 0, #b6bbbf 100%);
	background: linear-gradient(to bottom, #c4c9cc 0, #b6bbbf 100%);
	border: none;
	box-shadow: 0 1px 0 #8c8c8c;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	line-height: 22px;
	margin: 8px 4px 0 0;
	padding: 7px 20px;
	text-align: center
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

.uploader {
	clear: both;
	cursor: pointer;
	position: relative;
	height: 34px;
	width: 100%
}

.uploader .realfile {
	cursor: pointer;
	height: 34px;
	line-height: 34px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	font-size: 23px
}

.uploader .realfile input[type=file] {
	cursor: pointer;
	height: 34px;
	line-height: 34px;
	margin: 0;
	opacity: 0;
	padding: 0;
	width: 100%;
	z-index: 2;
	font-size: 23px
}

.uploader:hover .fakefile {
	background: #298fca;
	border-color: #298fca #298fca #0079bf;
	color: #fff
}

.uploader:hover .fakefile .icon-sm {
	color: #fff
}

.icon-attachment:before {
	content: "\e604"
}
.icon-lg, .icon-sm {
	display: inline-block;
	font-family: trellicons;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	text-decoration: none
}

.button.with-icon .icon-sm {
	left: 7px;
	position: absolute;
	top: 7px
}

.button.with-icon.google .icon-sm {
	font-size: 15px
}

.uploader:hover .fakefile .icon-sm {
	color: #fff
}

.avatar-option .text .icon-sm {
	display: none;
	position: absolute;
	top: 16px;
	right: 10px
}

.avatar-option.active .text .icon-sm {
	display: block		
}

@font-face {
font-family: trellicons;
	src:
		url(https://d78fikflryjgj.cloudfront.net/fonts/7bb5846e7fc03b2be8e658e1a6bbb1e2/trellicons.eot?#iefix)
		format('embedded-opentype'),
		url(https://d78fikflryjgj.cloudfront.net/fonts/33c34a902ab645b49686312cee29823e/trellicons.woff)
		format('woff'),
		url(https://d78fikflryjgj.cloudfront.net/fonts/fb906eb4b2e15713f06e544fc1c39959/trellicons.ttf)
		format('truetype');
	font-weight: 400;
	font-style: normal
}


.member {
    background-color: #d6dadc;
    border-radius: 3px;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
    width: 30px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}


.avatar-option .pic {
    border-radius: 3px;
    height: 40px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 40px;
}

.avatar-option .pic {
    border-radius: 3px;
    height: 40px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 40px;
}

.avatar-option {
    border-radius: 3px;
    display: block;
    height: 42px;
    padding: 4px 0;
    margin: 8px 0;
    position: relative;
    text-decoration: none;
}

.avatar-option .pic .member-initials {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    width: 40px;
}

.member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    left: 0;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.avatar-option .text {
    line-height: 42px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 56px;
    text-decoration: underline;
}
.button-link {
	background: -webkit-linear-gradient(top, #fff 0, #f8f9f9 100%);
	background: linear-gradient(to bottom, #fff 0, #f8f9f9 100%);
	border-radius: 3px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e2e4e6;
	border-bottom-color: #cdd2d4;
	cursor: pointer;
	display: block;
	font-weight: 700;
	height: 34px;
	margin-top: 6px;
	max-width: 300px;
	overflow: hidden;
	padding: 7px;
	position: relative;
	text-decoration: none;
	text-overflow: ellipsis;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap
}

.button-link .on {
	background-color: #61bd4f;
	border-radius: 3px;
	color: #fff;
	display: none;
	font-size: 12px;
	font-weight: 700;
	height: 17px;
	line-height: 17px;
	margin: 0;
	padding: 2px 4px;
	position: absolute;
	right: 5px;
	top: 5px;
	text-align: center
}































