.headmenu {
  background: #64024e;
  height: 30px;
  overflow: hidden;
  padding: 5px;
  position: relative;
  z-index: 0;
}
.searchName{
	background-color:#64024e;
	border-radius:3px;
	border:none;
	color:#ffffff;
	float:left;
	height:30px;
	margin:0;
	margin-right:10px;
	min-height:30px;
	padding-right:30px;
	padding-left:8px;
	padding-top:5px;
	line-height:19px;
	transition:width 150ms;
	width:3%;
	z-index:1;
	font-weight: bold;
	font-size:120%;
	text-align:center;

}
.searchtext{
	
	float:left;
	width:110%;
	height:70%;
	font-size: 13px;
	border:none;
	margin-top:2%;
	background-color:rgba(255,255,255,.0);
	onBlur:off;

}
.searchtext:focus{
	outline: none;
	color: white;
}
.search{
	background-color:rgba(255,255,255,.3);
	border-radius:3px;
	border:none;
	color:rgba(255,255,255,.5);
	height:30px;
	margin:0;
	min-height:30px;
	padding-right:30px;
	padding-left:5px;
	line-height:19px;
	transition:width 150ms;
	width:14%;
	z-index:1;
	font-weight: bold;
	font-size: 20px;	
	float:left;
	border: 0;

}
.mainpage{
	float:left;
	width:30%;
	text-align:center;
	font-size: 20px;
	font-weight: bold;
	color:white;
	margin-left: 11%;
	
}
.mainpageimg{

	width:50%;
	height: 40px;
	cursor:pointer;
}
.mainpageimg:hover{
	width:50%;
	height: 40px;
	cursor:pointer;
	background-image: url("/finalProject/resources/images/123.png");
}
.mypage{
	border-radius:3px;
	border:none;
	float:right;
	background-color:#64024e;
	color:#ffffff;
	width:6%;
	height:30px;
	margin:0;
	margin-right:10px;
	padding-top:5px;
	padding-right:30px;
	padding-left:8px;
	line-height:19px;
	font-weight: bold;
	font-size: 120%;
	text-align:center;
	cursor:pointer;
}

.logout {
	border-radius:3px;
	border:none;
	float:right;
	background-color:#64024e;
	color:#ffffff;
	width:6%;
	height:30px;
	margin:0;
	margin-right:20px;
	padding-top:5px;
	padding-right:10px;
	padding-left:8px;
	line-height:19px;
	font-weight: bold;
	font-size: 130%;
	text-align:center;
	cursor:pointer;
}
.logout:hover{
	color:#ffb9ff;
}

.mypage:hover{
	color:#ffb9ff;
}