p{
	padding-left: 5%;
	font-weight: bold;
	font-size: 20px;
}
.createBoardName{
	margin:20%;
	font-weight: bold;
	font-size: 18px;
	color: white;
}
ul{
	
	padding-left: 5%;
	list-style: none;
	height:100%;
}
li.boardicon{
	
	float:left;
	margin:30 0;
	padding: 15px;
	
}
li.closedboard{
	margin:30 0;
	padding: 15px;
}
.createBoard{
	border-radius:20px;
	border:none;
	padding-left: 5%;
	padding: 5px;
	width:270px;
	height:140px;
	background-color: #666666;
	cursor:pointer;
}
.createBoard:hover{
	background-color: #999999;
}
.clickclosedboard{
	clear: both;
	
}
.clickclosedlist{
	cursor:pointer;
}
.getclosedboardlist{
	padding-left: 5%;
}
.closedboardicon{
	border-radius:5px;
	border:1px solid black;
	background: white;
	width:400px;
	height:100px;
	overflow: hidden;
	padding: 5px;
	position: relative;
	cursor:pointer;
}
.board{
	border-radius:20px;
	border:none;
	background: #cfb083;
	width:270px;
	height:140px;
	overflow: hidden;
	padding: 5px;
	position: relative;
	cursor:pointer;
}
.board:hover{
	background: #f0e7d7;
}
.content{
	height:600px;
}
.mainboard{
	height:100%;
}
.ui-dialog{overflow:hidden;position:absolute;padding:.2em;outline:0;width:100px;height:100px;}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 0;white-space:nowrap;width:90%;overflow:hidden;text-overflow:ellipsis;}
.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:none;overflow:auto;width:1000px;}
.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin-top:.5em;padding:.3em 1em .5em .4em;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:left;}
.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer;}
.ui-dialog .ui-resizable-se{width:12px;height:12px;right:-5px;bottom:-5px;background-position:16px 16px;}
.ui-draggable .ui-dialog-titlebar{cursor:move;}