p{
	padding-left: 5%;
	font-weight: bold;
	font-size: 20px;
}
.createBoardName{
	margin:20%;
	font-weight: bold;
	font-size: 18px;
	color: white;
}
ul{
	
	padding-left: 5%;
	list-style: none;
	height:100%;
}
li{
	
	float:left;
	margin:30 0;
	padding: 15px;
	
}
.createBoard{
	border-radius:20px;
	border:none;
	padding-left: 5%;
	padding: 5px;
	width:300px;
	height:150px;
	background-color: #666666;
	cursor:pointer;
}
.createBoard:hover{
	background-color: #999999;
}
.clickclosedboard{
	padding-left: 5%;
	margin-top: 25%;
	clear: both;
	
}
.board{
	border-radius:20px;
	border:none;
	background: #ab0c67;
	width:300px;
	height:150px;
	overflow: hidden;
	padding: 5px;
	position: relative;
	cursor:pointer;
}
.board:hover{
	background: #ff3300;
}
.content{
	height:100%;
}
.mainboard{
	height:100%;
}